

body{
	 
	 font-family: Impact;
	 background-color: black;
	 color: green;
	 
	 
	 
	 }
	 
	 
	 h1{
	 color: red;
	 text-align:center;
	 font-size: 45px
	 
	 }
	 
	 h2 {
	 
	 color: red;
	  
	 text-align:center;
	}
	
	h3 {
	color: red;
	}
	
	
	 
	 ul {
	 list-style-type: none; 
	 margin: 20px 150px;
	 margin-left:300px;
	 margin-right:300px;
	 
	
	 padding-left: 140px;
	  
	 overflow: hidden;
	 background-color:0000FF;
	 }
	 
	 li{
	  float: left;
	  }
	  
	  
	
	  li a {
	  display: block; 
	  color: white; 
	  font-size: 1.3em;
	  text-align: center; 
	  padding: 14px 16px;
	  text-decoration: none; 
	  padding-left:20px;
	  font-family: Impact;
	  
	 }
	  	p {
	color: red;
	margin-left:300px;
	margin-right:300px;
	font-size: 20px;
	font-family: Impact;
	text-align: justify;
	}
   
	
	
	
	.zoom {
	padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
	}
	 .zoom:hover{
	 transform: scale(1.6); 
	 }
	 
	 .brighten img {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.brighten img:hover {
  -webkit-filter: brightness(150%);
  
}

textarea{
	border:1px solid #99999;
	width: 50%;
	margin: 5px 0; 
	padding-right:300px;
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
}


p2 {
	padding-left:300px;
}	



	
}


button {
    
	margin-left: 300px;
	
}

}	
	
	  

